html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#listings-grid{
    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* padding: 30px; */
    padding: 15px;
    padding-top: 15px;
    column-gap: 22px;
    row-gap: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;


    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

}

#listing-card {
    border: 2px solid black;
    height: 360px;
    text-align: left;
    border-radius: 20px;
    overflow: hidden;
    font-family: inherit;
    cursor: pointer;
}

#listing-city-country {
    font-weight: bold;
    
}

#listing-price {
    font-weight: bold;
}

#listing-profile-photo {
    height: 72%;
    width: 100%;

}

#listing-price-line {
    position: relative;
    top: 35px;
}


@media (min-width: 740px) {

    #listings-grid{
        padding: 30px;
        padding-top: 15px
    }

}

div:link {
    text-decoration: none;
}