.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
    height: 100px;
    align-items: center;
}



.profile-dropdown {
    font-size: 20px;
    /* z-index: 1; */
}

.account-button {
    /* position: absolute; */
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 21px;
    height: 42px;
    /* width: 46px; */
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: box-shadow 0.2s ease;
}

.account-button:hover {
    box-shadow: 0 2px 4px gray;
}

#hamburger{
    height: 30px;
    width: 30px;
}

#account-icon {
    height: 30px;
    width: 30px;
}

/* CANT GET THESE BUTTONS TO CHANGE IN SIZE */

#airbnb-logo {
    height: 30px;
    width: 90px;
}
