/* .user-auth-button, .user-auth-entry{
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
}

.user-auth-button {
    cursor: pointer;
    background-color: rgb(229, 30, 85);
    color: white;
    border: none;
    border-radius: 5px;
    font-family: inherit;
} */